*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	/*background: #fff;*/
}
.title {
	color: #fff;
	font-size: 6vw;
	font-weight: 400;
	z-index: 1000;
	font-family: "Arapey", serif;
	pointer-events: none;
}

.scene path {
	z-index: -100;
	/*fill: #171817;*/
	color:gainsboro;
	fill: white;
	transform: translateZ(-10px);
	opacity: 0.05;

}
.demo-4{
	transform-style: preserve-3d;
	opacity: 1;
	height: 0px;
	z-index: -1000;
}
body {
	/*font-family: 'Roboto', sans-serif;*/
	min-height: 100vh;
	/*color: #57585c;*/
	/*color: var(--color-text);*/
	/*background-color: #fff;*/
	/*background-color: var(--color-background);*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


@media screen and (min-width: 55em) {
	.icon--keyboard {
		position: absolute;
		right: 0.55em;
		bottom: -30%;
		display: block;
		width: 54px;
		height: 46px;
		fill: var(--color-link);
	}
	.demos {
		display: flex;
		padding-right: 80px;
		justify-self: end;
	}
	.demo {
		display: block;
		width: 17px;
		height: 17px;
		margin: 0 4px;
		border-radius: 50%;
		background: var(--color-link);
	}
	a.demo--current {
		background: var(--color-link-hover);
	}
	.demo span {
		position: absolute;
		line-height: 1;
		right: 100%;
		display: none;
		margin: 0 1em 0 0;
	}
	.demo--current span {
		display: block;
	}
}

@media screen and (max-width: 1055em) {
	html,
	body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.message {
		display: none;
	}
	.content {
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
		flex-direction: column;
	}
	.content--fixed {
		position: relative;
		z-index: -1000;
		display: block;
		padding: 0.85em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
	}
	.github {
		display: block;
		margin: 1em auto;
	}
	.codrops-links {
		margin: 0;
	}
}

